@model MetaTesina.Models.Article

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ArticleID" />
        <dt>
            @Html.DisplayNameFor(model => model.AuthorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleCreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleCreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleModifyDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleModifyDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleLinkImg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleLinkImg.AssetID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleMainImg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleMainImg.AssetID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
