@model IEnumerable<MetaTesina.Models.Asset>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AssetTypeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssetDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssetPath)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetPath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
